<div style="padding: 10px;">
    <div class="container-fluid" style="border: 1px solid rgb(194, 194, 194); padding: 10px;">
  
      <div class="row">
        <div class="col-md-3">
          <div>Basic</div>
        </div>
        <div class="col-md-9">
          <ybutton id="100" mode="primary" type="submit" text="Basic" (onClick)="buttonEvent();" title="tooltip"
            ariaLabel="submit button">
          </ybutton> &nbsp;
  
          <ybutton id="101" mode="primary" type="submit" text="Disabled" [disabled]="true" (onClick)="buttonEvent();">
          </ybutton> &nbsp;
  
          <ybutton id="102" mode="primary" type="button" text="Link" url="https://www.angularjswiki.com"
            urlTarget="_self">
          </ybutton> &nbsp;
  
          {{title}}
  
        </div>
      </div>
      <hr />
  
      <div class="row">
        <div class="col-md-3">
          <div>Icons</div>
        </div>
        <div class="col-md-9">
          <ybutton id="103" mode="primary" type="submit" icon="fa fa-home" (onClick)="buttonEvent();">
          </ybutton> &nbsp;
  
          <ybutton id="104" mode="primary" text="Go" type="submit" icon="fa fa-home" iconPos="left"
            (onClick)="buttonEvent();">
          </ybutton> &nbsp;
  
          <ybutton id="105" mode="primary" text="Go" type="submit" icon="fa fa-home" iconPos="right" iconColor="yellow"
            (onClick)="buttonEvent();">
          </ybutton>
  
        </div>
      </div>
      <hr />
  
      <div class="row">
        <div class="col-md-3">
          <div>Badges</div>
        </div>
        <div class="col-md-9">
          <ybutton id="106" mode="primary" type="submit" text="Go" (onClick)="buttonEvent();" badge="10"
            badgeClassName="yBadge">
          </ybutton>
          &nbsp;
          <ybutton id="107" mode="primary" type="submit" text="Go" (onClick)="buttonEvent();" icon="fa fa-bell"
            iconPos="left" badge="10" badgeClassName="yBadge yBadgeSecondary">
          </ybutton> &nbsp;
  
          <ybutton id="108" mode="primary" type="submit" (onClick)="buttonEvent();" icon="fa fa-bell" iconPos="left"
            badge="10" badgeClassName="yBadge yBadgeSecondary">
          </ybutton>
  
        </div>
      </div>
      <hr />
  
  
      <div class="row">
        <div class="col-md-3">
          <div>Rounded Buttons</div>
        </div>
        <div class="col-md-9">
          <ybutton id="109" mode="primary-rounded" type="submit" text="Primary" (onClick)="buttonEvent();">
          </ybutton>&nbsp;
  
          <ybutton id="110" mode="secondary-rounded" type="submit" text="Secondary" (onClick)="buttonEvent();">
          </ybutton>&nbsp;
  
          <ybutton id="111" mode="success-rounded" type="submit" text="Success" (onClick)="buttonEvent();">
          </ybutton>&nbsp;
  
          <ybutton id="112" mode="warning-rounded" type="submit" text="Warning" (onClick)="buttonEvent();">
          </ybutton>&nbsp;
  
          <ybutton id="113" mode="danger-rounded" type="submit" text="Danger" (onClick)="buttonEvent();">
          </ybutton>
        </div>
      </div>
      <hr />
  
      <div class="row">
        <div class="col-md-3">
          <div>Button Size</div>
        </div>
        <div class="col-md-9">
          <ybutton id="114" mode="primary-rounded y-btn-sm" type="submit" text="Small" (onClick)="buttonEvent();">
          </ybutton>&nbsp;
  
          <ybutton id="115" mode="secondary-rounded" type="submit" text="Normal" (onClick)="buttonEvent();">
          </ybutton>&nbsp;
  
          <ybutton id="116" mode="success-rounded y-btn-lg" type="submit" text="Large" (onClick)="buttonEvent();">
          </ybutton>
        </div>
      </div>
      <hr />
  
      <div class="row">
        <div class="col-md-3">
          <div>Button Set</div>
        </div>
        <div class="col-md-9">
          <ybutton id="117" mode="primary y-btn-group" type="submit" text="Save" (onClick)="buttonEvent();">
          </ybutton>
  
          <ybutton id="118" mode="primary y-btn-group" type="submit" text="Delete" (onClick)="buttonEvent();">
          </ybutton>
  
          <ybutton id="119" mode="primary y-btn-group" type="submit" text="Cancel" (onClick)="buttonEvent();">
          </ybutton>
        </div>
      </div>
  
    </div>
  </div>
  