.y-btn {
  --button-primary: #6c6edb;
  --button-primary-color: #fff;
  --button-primary-disabled: #a4a4ee;

  --button-secondary: #64748B;
  --button-secondary-color: #fff;
  --button-secondary-disabled: #abb5c4;

  --button-success: #22C55E;
  --button-success-color: #fff;
  --button-success-disabled: #7feba6;

  --button-warning: #D97706;
  --button-warning-color: #fff;
  --button-warning-disabled: #e7b276;

  --button-dark: #333;
  --button-line-height: 1.25rem;
  --button-font-size: 1rem;
  --button-light: #e9e9e9;
  --button-transition-duration: 200ms;

  --button-danger: rgb(194, 8, 8);
  --button-danger-color: #fff;
  --button-danger-disabled:rgb(236, 120, 120);

  --button-font-stack:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Helvetica Neue",
    sans-serif;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: var(--button-transition-duration);
  color: var(--button-dark);
  background-color: var(--button-light);
  border-color: var(--button-light);
  border-style: solid;
  border-width: 1px;
  font-family: var(--button-font-stack);
  font-weight: 400;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.y-btn-primary {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: var(--button-primary-color);
}
.y-btn-primary-rounded {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: var(--button-primary-color);
  border-radius: 8px;
}
.y-btn-primary:hover {
  background-color: #4345db;
}

.y-btn-secondary {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: var(--button-primary-color);
}
.y-btn-secondary-rounded {
  background-color: var(--button-secondary);
  border-color: var(--button-secondary);
  color: var(--button-secondary-color);
  border-radius: 8px;
}

.y-btn-success {
  background-color: var(--button-success);
  border-color: var(--button-success);
  color: var(--button-success-color);
}
.y-btn-success-rounded {
  background-color: var(--button-success);
  border-color: var(--button-success);
  color: var(--button-success-color);
  border-radius: 8px;
}

.y-btn-warning {
  background-color: var(--button-warning);
  border-color: var(--button-warning);
  color: var(--button-warning-color);
}
.y-btn-warning-rounded {
  background-color: var(--button-warning);
  border-color: var(--button-warning);
  color: var(--button-warning-color);
  border-radius: 8px;
}

.y-btn-danger {
  background-color: var(--button-danger);
  border-color: var(--button-danger);
  color: var(--button-primary-color);
}
.y-btn-danger-rounded {
  background-color: var(--button-danger);
  border-color: var(--button-danger);
  color: var(--button-danger-color);
  border-radius: 8px;
}

.y-btn-primary-disabled {
  background-color: var(--button-primary-disabled);
  border-color: var(--button-primary-disabled);
  color: var(--button-primary-color);
}

.y-btn-primary-link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.y-btn-sm {
  padding: 5px 10px;
}
.y-btn-lg {
  padding: 12px 32px;
}

.y-btn-group {
  border: 1px solid rgb(126, 95, 212); /* Green border */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.yBadge {
  background: #1d8fe7;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  /* margin-top: 3px; */
  margin-left: 7px;
  /* margin-bottom: 3px; */
}
.yBadge.yBadgeSecondary {
  background-color: #d45c00;
  color: #ffffff;
}
.yBadge.yBadgeSuccess {
  background-color: #498205;
  color: #ffffff;
}
.yBadge.yBadgeInfo {
  background-color: #00b7c3;
  color: #ffffff;
}
.yBadge.yBadgeWarning {
  background-color: #ffaa44;
  color: #323130;
}
.yBadge.yBadgeDanger {
  background-color: #d13438;
  color: #ffffff;
}
.yBadge.yBadgeLg {
  font-size: 1.125rem;
  min-width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.yBadge.yBadgeXl {
  font-size: 1.5rem;
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem;
}
@media (prefers-reduced-motion) {
  .y-btn {
    transition-duration: 0.001ms !important;
  }
}
